.container {
  background-color: red;
  width: 1000px;
  margin: 30px auto;
  display: grid;
  grid-template-rows: 150px 150px;
  grid-template-columns: 150px 150px 150px;
}
.item {
  padding: 20px;
  font-size: 30px;
  font-family: sans-serif;
  color: white;
}
.item--1 {
  background-color: orange;
}
.item--2 {
  background-color: green;
}
.item--3 {
  background-color: violet;
}
.item:hover {
  background-color: black;
}
